<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.andyron.demo2.UserMapper">
    <select id="getUserList" resultType="com.andyron.demo2.User">
        select * from jdbc.users
    </select>
    
    <select id="getUserById" resultType="com.andyron.demo2.User">
        select * from jdbc.users where id=#{id}
    </select>
</mapper>